.newsArticles_Wrap {
	position: relative;
	top: 382px !important;
	padding: 120px 90px;
}

.blogs {
	margin-bottom: 30px;
}

.newsArticles_Wrap .container {
	max-width: 1200px;
	padding: 0;
}

@media screen and (max-width: 768px) {
	.newsArticles_Wrap {
		top: 463px;
	}

	.newsArticles_Wrap .container {
		max-width: 540px !important;
	}
}

@media screen and (max-width: 575px) {
	.newsArticles_Wrap .container {
		max-width: 100% !important;
	}

	.newsArticles_Wrap {
		padding: 120px 15px 90px;
	}
}
