@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
	padding: 0;
	margin: 0;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}

.navbar {
	min-height: 100px;
	width: 100%;
	position: fixed;
	background: transparent;
	z-index: 10;
}

.nav.navbar.navbar-expand-lg {
	padding: 0 !important;
	margin: 0 !important;
}

.scrolling-active {
	background-color: #fff;
	box-shadow: 0 1px 3px rgb(0 0 0 / 9%);
}

.scrolling-active .navbar-nav .nav-link {
	color: black;
	font-weight: 400;
}

.nav-item {
	padding-right: 18px;
}

.navbar-toggler {
	border: 1px solid rgb(245, 175, 0);
}

.navbar button {
	color: rgb(245, 175, 0);
	/* position: absolute;
	right: 0;
	margin: 9px 10px; */
}

.canvas_nav {
	list-style-type: none;
}

.navbar-nav .nav-link,
.canvas_nav .nav-link {
	font-family: "poppins", sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: white;
	font-weight: 500;
}

.navbar-nav .nav-item .nav-link:hover,
.canvas_nav .nav-link:hover {
	color: rgb(245, 175, 0);
}

.offcanvas {
	background-color: rgba(51, 51, 51, 1);
	width: auto;
	overflow: scroll;
}

.offcanvas::-webkit-scrollbar {
	display: none;
}

.offcanvas .canvas_nav {
	padding: 50px 50px 50px 30px;
}

.canvas_nav .nav-item {
	padding-top: 20px;
}

.banner {
	background-image: linear-gradient(
			rgba(51, 51, 51, 0.6),
			rgba(51, 51, 51, 0.6)
		),
		url("images/main.jpg");
	background-color: black;
	height: 100vh !important;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	padding-top: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}

.header-contents h1 {
	font-family: "poppins", sans-serif;
	font-size: 70px;
	line-height: 80px;
	text-align: center;
	font-weight: 400;
	color: white;
	margin-bottom: 27px;
}

.header-contents p {
	font-family: "Lora", serif;
	font-size: 18px;
	text-align: center;
	color: white;
	line-height: 28px;
	margin-bottom: 53px;
}

.header-contents button {
	font-family: "poppins", sans-serif;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	background-color: rgb(245, 175, 0);
	color: white;
	width: 170px;
	height: 50px;
	border: 2px solid rgb(245, 175, 0);
	border-radius: 50px;
}

.header-contents button:hover {
	background-color: black;
	border: 2px solid black;
}

.section-contents {
	width: 100%;
	padding-top: 100px;
	margin-bottom: 70px !important;
}

.section-services {
	padding-bottom: 100px;
}

.section-contents h2,
p {
	text-align: center;
}

.section-contents h2 {
	font-size: 36px;
	font-family: "poppins", sans-serif;
	line-height: 50px;
	font-weight: 400;
	text-transform: capitalize;
	margin: 0 0 27px;
}

.section-contents p {
	font-family: "Lora", serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: rgb(153, 153, 153);
}

.row {
	justify-content: center;
	text-align: center;
}

.sec {
	background-color: #f8f8f8;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}

.features h3 {
	font-size: 18px;
	line-height: 18px;
	font-family: "poppins", sans-serif;
	font-weight: 400;
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 13px;
}

.features p {
	color: rgb(153, 153, 153);
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	text-align: center;
	font-family: "Lora", serif;
}

.features i {
	color: rgb(245, 175, 0);
	font-size: 50px;
	line-height: 1;
	margin-bottom: 34px;
}

.featured,
.clients {
	margin-bottom: 70px !important;
	text-align: center;
}

.featured h2,
.clients h2 {
	font-family: "Poppins", sans-serif;
	font-size: 36px;
	line-height: 50px;
	font-weight: 400;
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 27px;
}

.featured p,
.clients p {
	color: rgb(153, 153, 153);
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;
	font-family: "Lora", serif;
}

.featured-lists {
	list-style-type: none;
	display: inline-flex;
	justify-content: center;
	line-height: 21px;
}

.featured-contents {
	padding-bottom: 25px;
	text-align: center;
}
.featured-lists a {
	font-family: "Lora", serif;
	text-transform: capitalize;
	font-weight: 400;
	font-style: italic;
	text-decoration: none;
	color: rgb(153, 153, 153);
	padding-right: 22px;
}

.featured-lists a:hover {
	color: rgb(245, 175, 0);
}

.image-items {
	position: relative;
	overflow: hidden;
	padding: 0;
	margin-bottom: 30px;
	background-color: rgb(245, 175, 0);
}

.imagewrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

.image-items:hover img {
	transform: scale(1.1);
	transition: 0.7s;
	opacity: 0.1;
}

.image-items:hover .imagewrap {
	opacity: 1;
}

.image__title i {
	color: white;
	font-size: 30px;
	margin-bottom: 17px;
}

.image__title a {
	color: white;
	text-decoration: none;
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
	font-family: "poppins", sans-serif;
	margin: 0;
}

.image__title a:hover {
	color: black;
}

.contents h2 {
	font-size: 36px;
	font-family: "poppins", sans-serif;
	line-height: 50px;
	font-weight: 400;
	text-align: start;
	margin-bottom: 27px;
}

.contents p {
	color: rgb(153, 153, 153);
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	text-align: start;
	font-family: "Lora", serif;
}

.progress {
	height: 5px;
}

.contentlists {
	padding: 0, 15px;
	justify-content: end;
}

.titles,
.values {
	font-family: "poppins", sans-serif;
	font-size: 12px;
	line-height: 12px;
	font-weight: 700;
	text-transform: uppercase;
}
.tv {
	margin-bottom: 17px;
	/* border: 2px solid gold; */
	text-align: start;
	justify-content: space-evenly;
}
.values {
	float: right;
	margin-top: 7px !important;
}

.lists {
	margin-bottom: 35px;
	margin-right: 35px;
}
.section1 {
	background-color: rgb(245, 175, 0);
	line-height: 15em;
	padding-bottom: 75px;
	padding-top: 75px;
	display: flex;
}

.innovative h3 {
	color: white;
	font-family: "poppins", sans-serif;
	font-size: 30px;
	line-height: 50px;
	font-weight: 400;
	text-align: start;
}

.section1 button {
	font-family: "poppins", sans-serif;
	font-size: 12px;
	line-height: 50px;
	/* vertical-align: middle; */
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	background-color: rgb(245, 175, 0);
	color: white;
	width: 170px;
	height: 50px;
	border: 1px solid white;
	border-radius: 50px;
}

.section1 button:hover {
	background-color: white;
	color: rgb(245, 175, 0);
}

.section_expert {
	padding-top: 75px;
	padding-bottom: 75px;
}

.cli {
	background-color: #f8f8f8;
}

.container_clients {
	padding: 100px 0;
}

.clients {
	margin-bottom: 70px;
}

.textname {
	padding-left: 30px;
}

.client_name h4 {
	font-size: 14px;
	line-height: 14px;
	font-family: "poppins", sans-serif;
	text-align: start;
	font-weight: 700;
}

.clientone,
.clienttwo {
	display: flex;
	text-align: start;
}

.client_text p {
	font-family: "Lora", serif;
	font-size: 20px;
	font-style: italic;
	line-height: 35px;
	font-weight: 400;
	text-align: start;
	color: rgb(153, 153, 153);
	margin: 0 0 29px;
}

.map {
	background-color: #999;
}

.maps {
	padding: 100px 0;
}

.maps h2 {
	font-size: 36px;
	font-family: "poppins", sans-serif;
	line-height: 50px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 27px;
}

.about {
	padding: 100px 0 96px;
}

.about i {
	color: rgb(245, 175, 0);
	font-size: 55px;
	line-height: 55px;
	margin-bottom: 34px;
}

.about h4 {
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	text-align: center;
	font-family: "poppins", sans-serif;
	margin: 0 0 16px;
}

.about p {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	text-align: center;
	font-family: "Lora", serif;
	color: rgb(153, 153, 153);
	margin: 0;
}

.footer {
	border-top: 1px solid rgb(153, 153, 153);
	padding: 30px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer span {
	font-size: 14px;
	line-height: 19px;
	font-weight: 400;
	padding-top: 30px;
	color: rgb(153, 153, 153);
	/* width: 50%; */
}

.footer .social_media {
	display: inline;
	float: right;
}

.footer i {
	padding-right: 20px;
	color: rgb(153, 153, 153);
}

.footer i:hover {
	color: rgb(245, 175, 0);
}

.slider {
	position: relative;
	padding-left: 0;
	padding-right: 0;
}

.slider_items {
	padding: 0 15px;
}

.slider .left_arrow {
	position: absolute;
	bottom: 0;
	left: 40%;
	z-index: 2;
	margin-top: 20px;
	font-size: 25px;
	color: white;
	width: 40px;
	height: 40px;
	background: rgb(245, 175, 0);
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	display: inline-block;
	cursor: pointer;
}
.slider .right_arrow {
	position: absolute;
	bottom: 0;
	right: 40%;
	font-size: 25px;
	color: white;
	width: 40px;
	height: 40px;
	background: rgb(245, 175, 0);
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	display: inline-block;
	cursor: pointer;
}

.slider {
	padding-bottom: 70px;
}

@media only screen and (max-width: 992x) {
	.navbar .navbar-nav {
		display: none;
	}

	.navbar img {
		position: absolute;
		padding-left: 20px;
		left: 0;
		margin-top: 32px;
	}

	.container {
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.banner {
		padding: 150px 0 50px 0;
		height: auto !important;
	}

	.navbar {
		padding: 0 10px;
		margin: 0 -15px 0 0;
	}

	.header-contents h1 {
		font-size: 35px;
		line-height: 40px;
		margin: 0px 0px 30px;
	}

	.header-contents p {
		font-size: 14px;
		line-height: 24px;
		padding: 0 10px;
		margin: 0 0 30px;
	}

	.section {
		display: flex;
		justify-content: center;
		padding: 0;
		margin: 0;
	}

	.section-services {
		padding: 60px 0;
	}

	.section-contents {
		padding: 0;
		width: 100%;
		margin: 0 0 70px;
	}

	.section-contents p {
		margin: 0;
	}

	.section-contents h2 {
		font-size: 30px;
		line-height: 45px;
	}

	.features i {
		margin: 0 0 10px;
	}

	.sec {
		padding: 60px 0 70px;
	}

	.features p {
		margin: 0 0 20px;
	}

	.featured h2 {
		font-size: 30px;
		line-height: 45px;
	}

	.hover-img img {
		width: 600px;
		height: auto;
	}

	.image-items {
		padding: 0;
	}

	.section_expert {
		padding: 60px 0 50px;
	}

	.contents h2 {
		font-size: 30px;
		line-height: 45px;
	}

	.innovative h3 {
		text-align: center;
		margin-bottom: 30px;
	}

	.container_clients {
		padding: 100px 0 50px;
	}

	.clients h2 {
		font-size: 30px;
	}

	.clients p {
		margin-bottom: 0;
	}

	.say {
		display: flex;
	}

	.about {
		padding: 60px 0;
	}

	.about i {
		margin-bottom: 30px;
	}

	.address {
		margin: 0 0 30px;
	}

	.clientone {
		width: max-content;
	}
}

@media screen and (max-width: 768px) {
	.navbar .navbar-nav {
		display: none;
	}

	.navbar img {
		position: absolute;
		top: 25px;
		left: 0;
		padding-left: 10px;
	}

	.navbar .navbar-toggler {
		position: absolute;
		top: 30x;
		right: 0;
		margin-right: 10px;
	}
}

@media screen and (max-width: 992px) {
	.navbar .navbar-nav {
		display: none;
	}
}

@media screen and (min-width: 992px) {
	.offcanvas {
		display: none;
		background-color: none;
	}
}

@media screen and (max-width: 576px) {
	.header-contents h1 {
		font-size: 30px;
		line-height: 40px;
		margin: 0px 0px 30px;
	}

	.header-contents p {
		font-size: 14px;
		line-height: 25px;
		margin: 0px 0px 30px;
	}

	.featured-lists a {
		font-size: 14px;
		padding-right: 10px;
	}

	.slider .left_arrow {
		left: 37% !important;
	}

	.slider .right_arrow {
		right: 37% !important;
	}
}

@media screen and (min-width: 992px) and (max-width: 1050px) {
	.section {
		padding: 0;
		margin-right: 0;
	}
}

/* @media (max-width: 1200px) {
	.section .sec .container {
		width: 97.5%;
	}
} */
